#home {
  padding: 40px 0 104px;
}
.title_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.title_info p {
  max-width: 156px;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  align-self: flex-end;
  margin-bottom: 20px;
}

.title {
  max-width: 124px;
  font-size: 47px;
  line-height: 59px;
  text-align: left;
}
.skills__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 69px;
}

.subtitle__image img {
  max-width: 100%;
  height: auto;
}

.main_text {
  text-align: center;
  padding: 120px 0 18px 0;
  margin: 0 auto;
}
.skills__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 83px;
}

.skills__logo {
  display: flex;
  justify-content: space-between;
}

.logo p {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 24px auto 40px auto;
  color: #828282;
  min-height: 34px;
  max-width: 79px;
}

.stars {
  display: flex;
  justify-content: space-between;
}

.stars img {
  display: inline;
  flex-direction: column;
  width: 20px;
  height: 20px;
}

.logo {
  width: 167px;
}

.logo img {
  display: block;
  margin: 0 auto;
}

.portfolio {
  background: #f6f6f6;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}


.portfolio__item {
  padding-bottom: 96px;
}

.portfolio__title {
  padding: 112px 0 47px 0;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 47px;
}

.portfolio__item img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 42px;
}

.portfolio__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.portfolio p {
  font-family: Gilroy-Medium;
}

.contact__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
}

.contact__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
  white-space: pre-line;
  height: 64px;
}

.contact__button {
  max-width: 180px;
  display: block;
  background: #070707;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border-radius: 35px;
  padding: 12px 28px 12px 28px;
  margin: 29px auto 86px;
}

.footer__icon {
  display: flex;
  justify-content: space-between;
  max-width: 342px;
  align-items: center;
  margin: 0 auto;
}

.contact__footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  white-space: pre-line;
  color: #828282;
  align-self: flex-end;
}
