@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy-bold.woff2") format("woff2"),
    url("../fonts/gilroy-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy-medium.woff2") format("woff2"),
    url("../fonts/gilroy-medium.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Gilroy-Bold", sans-serif;
  color: #070707;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 33px 0 32px 0;
  border-bottom: 1px;
  color: #828282;
}

img {
  display: block;
}

h2 {
  margin: 18px;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}
.about_massage {
  max-width: 485px;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto;
  text-align: center;
}
.about_massage:nth-child(3) {
  margin: 43px auto;
}
.logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills {
  padding: 91px;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.portfolio {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.contacts {
  margin: 0 auto;
  text-align: center;
  font-family: Gilroy-Bold;
  line-height: 18px;
  text-align: center;
}
.contacts p {
  margin: 20px;
}
.send {
  border-radius: 40%;
  background-color: black;
  padding: 10px;
  text-align: center;
}
.send_link {
  color: white;
  text-decoration: none;
}